.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $bg-section;
  display: flex;
  align-items: center;
  justify-content: center;

  &_wrap {
    position: relative;
    width: rem(320px);
  }
}
