
.cssLoading__parent {
  position: relative;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: rem(80px);
  height: rem(80px);
  top: 0;
  left: calc(50% - #{rem(40px)});
  transform: scale(.6);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all .6s $easeOutQuart;

  &.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 9;
  }
}

.lds-ellipsis div {
  position: absolute;
  top: rem(33px);
  width: rem(13px);
  height: rem(13px);
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: rem(8px);
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: rem(8px);
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: rem(32px);
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: rem(56px);
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(rem(24px), 0);
  }
}
